body{
    font-family:"SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-image: url("../img/images.jpg");
    background-attachment: fixed;
    background-size: cover;
    padding: 1%;
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
    
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
}
#container {
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
 
/* Set a style for all buttons */
input[type=submit] {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
}
.lien{
    text-align: center;
    margin-left: 130px;
    color:red;
}
.bouton {
    padding: 10px 30px; 
    background: #949494; 
    color: white; 
}
.boutonsend {
    padding: 10px 30px; 
    background: #949494; 
    color: white;
    border: 1px solid rgb(255, 255, 255);
}
.boutonsend:hover {
    background-image: linear-gradient(to left, rgb(255, 0, 157), rgb(255, 115, 0), rgb(29, 184, 76), rgb(22, 206, 219), rgb(119, 16, 150));    
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
}
.bouton:hover{
    position: relative 100;
    width: 100%;
    background-image: linear-gradient(to left, rgb(255, 0, 157), rgb(255, 115, 0), rgb(29, 184, 76), rgb(22, 206, 219), rgb(119, 16, 150));    
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
}
.titre {
    position: relative100;
    width: 100%;
    background-image: linear-gradient(to left, rgb(255, 0, 157), rgb(255, 115, 0), rgb(29, 184, 76), rgb(22, 206, 219), rgb(119, 16, 150));    
    -webkit-background-clip: text;
    -moz-background-clip: text; 
    background-clip: text;
    color: transparent;
}
.white{
    color: white;
}